<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ithinking.banana.user.mapper.UserMapper">

    <select id="getUserById" parameterType="long" resultType="User">
        select * from plat_user where user_id = #{0}
    </select>


    <select id="getUserByLoginId" parameterType="long" resultType="User">
         select * from plat_user where login_id = #{0}
    </select>

    <insert id="createUser" parameterType="User">
        insert into plat_user(user_id,login_id,nick_name,mobile,email,sex,passwd,area_code,create_time)
        values (#{userId},#{loginId},#{nickName},#{mobile},#{email},#{sex},#{passwd},#{areaCode},#{createTime})
    </insert>

</mapper>